<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iszion.api.fee.dao.FeeDAO">

    <!-- ###  인세기준정보    ################################ -->
    <select id="fee1010_list" resultType="java.util.HashMap">
        SELECT
                  mp.PROD_CD                        as  prodCd
                , mp.PROD_NM                        as  prodNm
                , mp.AUTHOR_NM                      as  authorNm
                , mp.S_PRICE                        as  sPrice
                , fh.AGENT_CD                       as  agentCd
                , ag.AGENT_NM                       as  agentNm
                , if(fh.AGENT_CD != '', 'Y', 'N')   as  chYn
                , fh.STOP_YN                        as  stopYn
                , count(fh.PROD_CD)                 as  hCnt
            FROM MPRODTB mp
                -- 선인세check
                left outer join SFEESHTB as fh ON fh.PROD_CD = mp.PROD_CD
                -- 에이젠트 구분
                left outer join MAGENTTB as ag on ag.AGENT_CD = mp.AGENT_CD

        WHERE 1=1
            <if test='paramUseYn == "Y"'>
                AND  fh.AGENT_CD  !=  ''
            </if>
            AND fh.STOP_YN = #{paramStopYn}
            <if test='paramValue != null and paramValue != ""'>
                AND ( mp.PROD_NM LIKE CONCAT( '%', #{paramValue }, '%' )
                OR  mp.PROD_CD LIKE CONCAT( '%', #{paramValue }, '%')
                OR  ag.AGENT_NM LIKE CONCAT( '%', #{paramValue }, '%')
                )
            </if>
        GROUP BY mp.PROD_CD
        ORDER BY mp.PROD_CD

    </select>

    <select id="fee1010_select_list" resultType="java.util.HashMap">
        SELECT
               fh.PROD_CD           as  prodCd
             , fh.AGENT_CD          as  agentCd
             , ag.AGENT_NM          as  agentNm
             , fh.FEES_SDAY         as  feesSday
             , fh.FEES_EDAY         as  feesEday
             , fh.CALC_FG           as  calcFg
             , fh.COND_FG           as  condFg
            FROM SFEESHTB fh
                 -- 에이젠트 구분
                 left outer join MAGENTTB as ag ON ag.AGENT_CD = fh.AGENT_CD

            WHERE fh.PROD_CD  =   #{paramProdCd }
            ORDER BY fh.AGENT_CD

    </select>

    <select id="fee1010_select_header" resultType="java.util.HashMap">
        SELECT
               fh.PROD_CD           as  prodCd
             , fh.AGENT_CD          as  agentCd
             , fh.AGENT_CD          as  oldAgentCd
             , ag.AGENT_NM          as  agentNm
             , fh.FEES_SDAY         as  feesSday
             , fh.FEES_EDAY         as  feesEday
             , fh.CALC_FG           as  calcFg
             , fh.COND_FG           as  condFg
             , fh.STOP_YN           as  stopYn
             , fh.REMARKS           as  remarks
        FROM SFEESHTB fh
             -- 에이젠트 구분
             left outer join MAGENTTB as ag ON ag.AGENT_CD = fh.AGENT_CD

        WHERE fh.PROD_CD     =  #{paramProdCd }
          AND fh.AGENT_CD    =  #{paramAgentCd }

    </select>

   <select id="fee1010_select_details" resultType="java.util.HashMap">
       SELECT
              fd.PROD_CD        as  prodCd
            , fd.AGENT_CD       as  agentCd
            , fd.AGENT_CD       as  oldAgentCd
            , fd.SEQ            as  seq
            , fd.BASE_QTY       as  baseQty
            , fd.BASE_YUL       as  baseYul
            , fd.BASE_AMT       as  baseAmt
            , fd.REMARKS        as  remarks
            , "R"               as  iuD
       FROM SFEESDTB fd

       where fd.PROD_CD = #{paramProdCd }
         AND fd.AGENT_CD = #{paramAgentCd }
       order by fd.SEQ

    </select>


    <insert id="fee1010_insert_header" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            INSERT INTO SFEESHTB
                (
                      PROD_CD
                    , AGENT_CD
                    , FEES_SDAY
                    , FEES_EDAY
                    , FEES_FG
                    , CALC_FG
                    , COND_FG
                    , PM_QTY
                    , STOP_YN
                    , REMARKS
                    , REG_DATE
                    , REG_ID
                    , UPDATE_DATE
                    , UPDATE_ID
                ) VALUES (
                      #{item.prodCd}
                    , #{item.agentCd}
                    , #{item.feesSday}
                    , #{item.feesEday}
                    , #{item.feesFg}
                    , #{item.calcFg}
                    , #{item.condFg}
                    , #{item.pmQty}
                    , #{item.stopYn}
                    , #{item.remarks}
                    , NOW()
                    , #{userId}
                    , NOW()
                    , #{userId}
                )
        </foreach>
    </insert>

    <update id="fee1010_update_header" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            UPDATE SFEESHTB
                SET
                      AGENT_CD      =   #{item.agentCd}
                    , FEES_SDAY     =   #{item.feesSday}
                    , FEES_EDAY     =   #{item.feesEday}
                    , FEES_EDAY     =   #{item.feesEday}
                    , FEES_FG       =   #{item.feesFg}
                    , CALC_FG       =   #{item.calcFg}
                    , COND_FG       =   #{item.condFg}
                    , PM_QTY        =   #{item.pmQty}
                    , STOP_YN       =   #{item.stopYn}
                    , REMARKS       =   #{item.remarks}
                    , UPDATE_DATE   =   NOW()
                    , UPDATE_ID     =   #{userId}
                WHERE PROD_CD       =   #{item.prodCd}
                  AND AGENT_CD      =   #{item.oldAgentCd}
        </foreach>
    </update>

    <delete id="fee1010_delete_header" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            DELETE FROM SFEESHTB
            WHERE PROD_CD       =   #{item.prodCd}
              AND AGENT_CD      =   #{item.agentCd}
        </foreach>
    </delete>

    <delete id="fee1010_delete_details_all" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            DELETE FROM SFEESDTB
            WHERE PROD_CD       =   #{item.prodCd}
              AND AGENT_CD      =   #{item.agentCd}
        </foreach>
    </delete>

    <insert id="fee1010_insert_details" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            INSERT INTO SFEESDTB
                (
                      PROD_CD
                    , AGENT_CD
                    , SEQ
                    , BASE_QTY
                    , BASE_YUL
                    , BASE_AMT
                    , REMARKS
                    , REG_DATE
                    , REG_ID
                    , UPDATE_DATE
                    , UPDATE_ID
                ) VALUES (
                      #{item.prodCd}
                    , #{item.agentCd}
                    , (SELECT IFNULL( MAX(fd.SEQ) + 1, 1) as seq
                         FROM SFEESDTB fd
                        WHERE fd.PROD_CD   =   #{item.prodCd}
                          AND fd.AGENT_CD 	= 	#{item.agentCd}
                        )
                    , #{item.baseQty}
                    , #{item.baseYul}
                    , #{item.baseAmt}
                    , #{item.remarks}
                    , NOW()
                    , #{userId}
                    , NOW()
                    , #{userId}
                )
        </foreach>
    </insert>

    <update id="fee1010_update_details" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            UPDATE SFEESDTB
                SET
                      AGENT_CD      =   #{item.agentCd}
                    , BASE_QTY      =   #{item.baseQty}
                    , BASE_YUL      =   #{item.baseYul}
                    , BASE_AMT      =   #{item.baseAmt}
                    , REMARKS       =   #{item.remarks}
                    , UPDATE_DATE   =   NOW()
                    , UPDATE_ID     =   #{userId}
                WHERE PROD_CD       =   #{item.prodCd}
                  AND AGENT_CD      =   #{item.oldAgentCd}
                  AND SEQ           =   #{item.seq}
        </foreach>
    </update>

    <delete id="fee1010_delete_details" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            DELETE FROM SFEESDTB
            WHERE PROD_CD       =   #{item.prodCd}
              AND AGENT_CD      =   #{item.agentCd}
              AND SEQ           =   #{item.seq}
        </foreach>
    </delete>

    <!-- ###  인세 정산조정    ################################ -->
    <select id="fee1020_list" resultType="java.util.HashMap">
        SELECT
              mp.PROD_CD        as  prodCd
            , mp.PROD_NM        as  prodNm
            , mp.PROD_CL        as  prodCl  -- 1:국내 2:국외
            , IF(mp.PROD_CL = '1','국내',if(mp.PROD_CL = '2', '국외', '')) as	prodClNm
            , ROW_NUMBER() OVER (PARTITION BY mp.PROD_CD ORDER BY fh.FEES_SDAY)     as  agentSeq
            , fh.AGENT_CD       as  agentCd
            , CONCAT(STR_TO_DATE(fh.FEES_SDAY, '%Y%m%d'), ' ~ ', STR_TO_DATE(fh.FEES_EDAY, '%Y%m%d'))   as  feesPeriod
            , fh.FEES_EDAY      as  feesEday
            , fh.REMARKS        as  remarks
            , ag.AGENT_NM       as  agentNm
            , (SELECT count(*) FROM SFEESWTB fw WHERE fw.PROD_CD = mp.PROD_CD AND fw.AGENT_CD = fh.AGENT_CD)  as fwCnt
        FROM MPRODTB mp
            left outer join SFEESHTB fh ON fh.PROD_CD  =  mp.PROD_CD
            left outer join MAGENTTB ag ON ag.AGENT_CD  =  fh.AGENT_CD
        WHERE mp.PROD_CL = #{paramProdCl }
          AND fh.STOP_YN != 'Y'
          AND fh.PROD_CD !=  ''
        <if test='paramValue != null and paramValue != ""'>
            AND ( mp.PROD_NM LIKE CONCAT( '%', #{paramValue }, '%' )
            OR  mp.PROD_CD LIKE CONCAT( '%', #{paramValue }, '%')
            OR  ag.AGENT_NM LIKE CONCAT( '%', #{paramValue }, '%')
            OR  fh.AGENT_CD LIKE CONCAT( '%', #{paramValue }, '%')
            )
        </if>

    </select>

    <select id="fee1020_select_list" resultType="java.util.HashMap">
        SELECT
                  a.PROC_YEAR     as  procYear
                , a.PROC_MONTH    as  procMonth
                , a.PROC_YEAR     as  oldProcYear
                , a.PROC_MONTH    as  oldProcMonth
                , a.WO_QTY        as  woQty     -- 이월미정산수량
                , a.W_QTY         as  wQty      -- 정산누적수량
                , a.PM_QTY        as  pmQty     -- 홍보수량
                , a.W_AMT         as  wAmt      -- 선인세금액
                , a.P_AMT         as  pAmt      -- 종이책중간정산금액(상반기정산액)
                , a.E_AMT         as  eAmt      -- 전자책정산금액
                , a.D_AMT         as  dAmt      -- 소멸액 (인세기간후 남아있는 금액)
                , a.REMARKS       as  remarks
                , a.PROD_CD       as  prodCd
                , a.AGENT_CD      as  agentCd
                , 'R'             as  iuD
        FROM SFEESWTB a

        where   a.PROD_CD   =   #{paramProdCd }
          and   a.AGENT_CD  =   #{paramAgentCd }

        order by a.PROC_YEAR asc, PROC_MONTH asc
    </select>

    <insert id="fee1020_insert" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            INSERT INTO SFEESWTB (
                      PROD_CD
                    , AGENT_CD
                    , PROC_YEAR
                    , PROC_MONTH
                    , WO_QTY
                    , W_QTY
                    , PM_QTY
                    , W_AMT
                    , P_AMT
                    , E_AMT
                    , D_AMT
                    , REMARKS
                    , REG_DATE
                    , REG_ID
                    , UPDATE_DATE
                    , UPDATE_ID
            ) VALUES (
                      #{item.prodCd }
                    , #{item.agentCd }
                    , #{item.procYear }
                    , #{item.procMonth }
                    , #{item.woQty }
                    , #{item.wQty }
                    , #{item.pmQty }
                    , #{item.wAmt }
                    , #{item.pAmt }
                    , #{item.eAmt }
                    , #{item.dAmt }
                    , #{item.remarks }
                    , NOW()
                    , #{userId}
                    , NOW()
                    , #{userId}
            )
        </foreach>
    </insert>

    <update id="fee1020_update" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            UPDATE SFEESWTB
                SET
                      PROC_YEAR     =   #{item.procYear }
                    , PROC_MONTH    =   #{item.procMonth }
                    , WO_QTY        =   #{item.woQty }
                    , W_QTY         =   #{item.wQty }
                    , PM_QTY        =   #{item.pmQty }
                    , W_AMT         =   #{item.wAmt }
                    , P_AMT         =   #{item.pAmt }
                    , E_AMT         =   #{item.eAmt }
                    , D_AMT         =   #{item.dAmt }
                    , REMARKS       =   #{item.remarks }
                    , UPDATE_DATE   =   NOW()
                    , UPDATE_ID     =   #{userId}
            WHERE PROD_CD       =   #{item.prodCd}
              AND AGENT_CD      =   #{item.agentCd}
              AND PROC_YEAR     =  #{item.oldProcYear }
              AND PROC_MONTH    =  #{item.oldProcMonth }
        </foreach>
    </update>

    <delete id="fee1020_delete" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            DELETE FROM SFEESWTB
            WHERE PROD_CD       =   #{item.prodCd}
              AND AGENT_CD      =   #{item.agentCd}
              AND PROC_YEAR     =   #{item.procYear }
              AND PROC_MONTH    =   #{item.procMonth }
        </foreach>
    </delete>

    <!-- ###  인세 지급액관리    ################################ -->
    <select id="fee1030_list" resultType="java.util.HashMap">
        SELECT
              fj.PROD_CD  	       as	prodCd
            , fj.PROD_CD           as   prodCdOld
            , fj.AGENT_CD          as   agentCd
            , fj.AGENT_CD          as   agentCdOld
            , fj.PROC_YEAR         as   procYear
            , fj.PROC_MONTH        as   procMonth
            , mp.PROD_NM           as   prodNm
            , aj.AGENT_NM          as   agentNm
            , fj.J_AMT             as   jAmt
            , fj.REMARKS           as   remarks
            ,'R'                   as   iuD
        FROM SFEESJTB fj
            -- 도서코드
            left outer join MPRODTB mp ON mp.PROD_CD  = fj.PROD_CD
            -- 에이젠트 구분
            left outer join MAGENTTB aj ON aj.AGENT_CD = fj.AGENT_CD

        WHERE fj.PROC_YEAR    =   #{paramProcYear }
          AND fj.PROC_MONTH   =   #{paramProcMonth }
        ORDER BY fj.PROD_CD, fj.AGENT_CD

    </select>

    <insert id="fee1030_insert" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            INSERT INTO SFEESJTB (
                      PROC_YEAR
                    , PROC_MONTH
                    , AGENT_CD
                    , PROD_CD
                    , J_AMT
                    , REMARKS
                    , REG_DATE
                    , REG_ID
                    , UPDATE_DATE
                    , UPDATE_ID
            ) VALUES (
                      #{item.procYear }
                    , #{item.procMonth }
                    , #{item.agentCd }
                    , #{item.prodCd }
                    , #{item.jAmt }
                    , #{item.remarks }
                    , NOW()
                    , #{userId}
                    , NOW()
                    , #{userId}
            )
        </foreach>
    </insert>

    <update id="fee1030_update" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            UPDATE SFEESJTB
                SET
                      AGENT_CD      =   #{item.agentCd }
                    , PROD_CD       =   #{item.prodCd }
                    , J_AMT         =   #{item.jAmt }
                    , REMARKS       =   #{item.remarks }
                    , UPDATE_DATE   =   NOW()
                    , UPDATE_ID     =   #{userId}
            WHERE PROC_YEAR     =   #{item.procYear }
              AND PROC_MONTH    =   #{item.procMonth }
              AND AGENT_CD      =   #{item.agentCdOld}
              AND PROD_CD       =   #{item.prodCdOld}
        </foreach>
    </update>

    <delete id="fee1030_delete" parameterType="java.util.Map">
        <foreach collection="list1" item="item" separator=";">
            DELETE FROM SFEESJTB
                 WHERE PROC_YEAR    =   #{item.procYear }
                  AND PROC_MONTH    =   #{item.procMonth }
                  AND AGENT_CD      =   #{item.agentCd}
                  AND PROD_CD       =   #{item.prodCd}
        </foreach>
    </delete>


    <!-- ###  선인세 잔액명세    ################################ -->
    <select id="fee3010_list" resultType="java.util.HashMap">
        SELECT    b.agent_cd                               as  agentCd
                , b.agent_nm                               as  agentNm
                , b.s_amt                                  as  sAmt
                , b.w_amt                                  as  wAmt
                , b.o_amt                                  as  oAmt
                , b.j_amt                                  as  jAmt
                , ''                                        as  remarks
            FROM (
                    SELECT    a.agent_cd                                  as  agent_cd
                            , ag.AGENT_NM                                 as  agent_nm
                            , sum(a.s_amt)                                as  s_amt
                            , sum(a.w_amt)                                as  w_amt
                            , sum(a.o_amt)                                as  o_amt
                            , sum(a.s_amt) - sum(a.w_amt) - sum(a.o_amt)  as  j_amt

                        FROM (
                                SELECT    agent_cd               as  agent_cd
                                        , sum(IFNULL(s_amt, 0))  as  s_amt   -- 선인세 누적합계
                                        , 0                      as  w_amt
                                        , 0                      as  o_amt
                                    FROM SFEESTTB
                                    WHERE CONCAT(proc_year, proc_month)  <![CDATA[<=]]>  CONCAT(#{paramYear }, #{paramMonth })
                                    GROUP BY agent_cd

                                UNION ALL

                                SELECT    agent_cd                as  agent_cd
                                        , 0                       as  s_amt
                                        , sum(IFNULL(o_amt, 0))   as  w_amt   -- 정산인세 전월누적 합계
                                        , 0                       as  o_amt
                                    FROM SFEESTTB
                                    WHERE CONCAT(proc_year, proc_month)  <![CDATA[<]]>  CONCAT(#{paramYear }, #{paramMonth })
                                    AND o_amt != 0
                                    GROUP BY agent_cd

                                UNION ALL

                                SELECT    agent_cd                as  agent_cd
                                        , 0                       as  s_amt
                                        , 0                       as  w_amt
                                        ,  sum(IFNULL(o_amt, 0))  as  o_amt   -- 당월 정산인세 합계
                                    FROM SFEESTTB
                                    WHERE CONCAT(proc_year, proc_month)  =   CONCAT(#{paramYear }, #{paramMonth })
                                    AND o_amt != 0
                                    GROUP BY agent_cd
                        ) a
                            -- 공통코드 (에이젠시)
                            left outer join MAGENTTB ag ON ag.AGENT_CD = a.AGENT_CD

                    WHERE 1=1
                    GROUP BY a.AGENT_CD
                ) b
            WHERE b.j_amt > 0  OR b.s_amt != 0
    </select>

    <!-- ###  인세정산확정명세    ################################ -->
    <select id="fee3020_list" resultType="java.util.HashMap">
        SELECT    ft.PROC_YEAR      as  procYear
                , ft.PROD_CD        as  prodCd
                , mp.PROD_NM        as  prodNm
                , ft.AGENT_CD       as  agentCd
                , ag.AGENT_NM       as  agentNm
                , CONCAT(ft.PROC_MONTH, '월')    as  procMonth
                , sum(ft.S_AMT)     as  sAmt
                , sum(ft.o_AMT)     as  oAmt
                , sum(ft.O_QTY)     as  oQty
        FROM SFEESTTB ft
                 -- 도서코드
                 left outer join MPRODTB mp ON mp.PROD_CD = ft.PROD_CD
            -- 공통코드 (에이젠시)
                 left outer join MAGENTTB ag ON ag.AGENT_CD = ft.AGENT_CD

        WHERE ft.PROC_YEAR = #{paramYear }
          AND mp.PROD_CL = #{paramProdCl }
          AND NOT(ft.S_AMT=0 AND ft.O_AMT=0 AND ft.O_QTY=0)
        GROUP BY ft.PROD_CD, ft.AGENT_CD, ft.PROC_MONTH
    </select>

</mapper>