<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iszion.api.auth.mapper.AuthMapper">


    <select id="getUserId" resultType="com.iszion.api.auth.dto.CustomUserDetails">
        /**
          Mapper:AuthMapper.getUserId
         */
        SELECT USER_ID
        , USER_NM
        , PASSWD
        , ROLE
        FROM XUSERTB
        WHERE USER_ID = #{userId}
    </select>

    <select id="existsUserId" resultType="int">
        SELECT count(*)
        FROM XUSERTB
        WHERE USER_ID = #{id}
    </select>

    <insert id="insert" parameterType="com.iszion.api.auth.dto.CustomUserDetails">
        INSERT INTO XUSERTB (
                               USER_ID
                             , PASSWD
                             , USER_NM
                             , ROLE
        ) VALUES (
                  #{user_id}
                  , #{passwd}
                  , #{userName}
                  , #{role}
                         )
    </insert>

    <select id="test" resultType="hashMap">
            SELECT * FROM XUSERTB
            WHERE USER_ID = 'joon'

    </select>

    <insert id="tokenSave" parameterType="com.iszion.api.auth.dto.CustomUserDetails">
        INSERT INTO XTOKENTB (
                               USER_ID
                             , ACCESS_TOKEN
                             , REFRESH_TOKEN
        ) VALUES (
                     #{userId}
                 , #{accessToken}
                 , #{refreshToken}
                 )

        ON DUPLICATE KEY UPDATE
                  ACCESS_TOKEN =  #{accessToken}
                , REFRESH_TOKEN = #{refreshToken}


    </insert>

    <select id="getRefreshToken" resultType="java.util.HashMap">
        /**
        Mapper:AuthMapper.getRefreshToken
        */
        SELECT USER_ID
             , REFRESH_TOKEN
        FROM XTOKENTB
        WHERE USER_ID = #{userId}

    </select>

    <select id="getAccessToken" resultType="java.util.HashMap">
        /**
        Mapper:AuthMapper.getAccessToken
        */
        SELECT REFRESH_TOKEN
        FROM XTOKENTB
        WHERE ACCESS_TOKEN = #{accessToken}

    </select>

    <update id="updateRefreshToken" parameterType="java.util.Map">
        /**
        Mapper:AuthMapper.updateRefreshToken
        */
        UPDATE XTOKENTB
        SET ACCESS_TOKEN = #{accessToken}
          ,   REFRESH_TOKEN = #{refreshToken}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteTokenInfo" parameterType="java.util.Map">
        DELETE FROM XTOKENTB
        WHERE USER_ID = #{userId}

    </delete>

</mapper>
